[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
notebook = "==7.1.2"
openai = "*"
elasticsearch = "*"
pandas = "*"
scikit-learn = "*"
dlt = {extras = ["lancedb"], version = "==0.5.1a0"}
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
